<nav class="navbar navbar-expand-lg px-md-0">
	<a class="navbar-brand" style="width:200px" href="{{ site.baseurl }}/">
		<span class="logo-default">
			<img src="{{ site.baseurl }}/assets/img/dark_logo_transparent.svg" alt="Faktorz Logo">
		</span>
		<span class="logo-inverse">
			<img src="{{ site.baseurl }}/assets/img/dark_logo_transparent.svg" alt="Faktorz Logo">
		</span>
	</a>
	<button class="navbar-toggler p-0" data-toggle="collapse" data-target="#navbarNav">
					<div class="hamburger hamburger--spin js-hamburger">
								<div class="hamburger-box">
									<div class="hamburger-inner"></div>
								</div>
						</div>
	</button>

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ml-auto">
			{% for link in site.data.navigation %}
			<li class="nav-item text-blue-dark">
				{% assign class = "nav-link" %}

				{% if link.link == page.url %}
					{% assign class = class | append: " active" %}
				{% endif %}
				<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
			</li>
			{% endfor %}
			<li class="nav-item">
            <a style="box-shadow: none;" class="nav-link btn btn-sm btn-primary u-w-110" href="https://dg-pro-infra.thedigitalgarage.io:8443/">LOGIN</a>
      </li>
			<li class="nav-item">
            <a style="box-shadow: none;" class="nav-link btn btn-sm btn-primary u-w-110" href="https://cochera.thedigitalgarage.io/free-signup">SIGN UP</a>
      </li>
		</ul>
	</div>

</nav>
