<!--
<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>
	{% for link in site.data.navigation %}
		{% assign class = "" %}
		{% if link.highlight %}
			{% assign class = class | append: " highlight" %}
		{% endif %}

		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}
		<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
	{% endfor %}
</nav>
-->

<nav class="navbar navbar-expand-lg px-md-0">
	<a class="navbar-brand" href="{{ site.baseurl }}/">
		<span class="logo-default">
			<img src="{{ site.baseurl }}/images/white-logo.svg" alt="The Digital Garage Logo" width="240" height="80" />
		</span>
		<span class="logo-inverse">
			<img src="{{ site.baseurl }}/images/logo.svg" alt="The Digital Garage Logo" width="240" height="80">
		</span>
	</a>

	<button class="navbar-toggler p-0" data-toggle="collapse" data-target="#navbarNav">
					<div class="hamburger hamburger--spin js-hamburger">
								<div class="hamburger-box">
									<div class="hamburger-inner"></div>
								</div>
						</div>
	</button>

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="index.html">HOME</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Demos<i class="lnr lnr-chevron-down u-fs-12 ml-1"></i>
				</a>
				<div class="dropdown-menu box-shadow-v2" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="app.html">App</a>
					<a class="dropdown-item" href="software.html">Software</a>
					<a class="dropdown-item" href="seo.html">SEO</a>
					<a class="dropdown-item" href="startup.html">Startup</a>
					<a class="dropdown-item" href="product-launch.html">Product</a>
					<a class="dropdown-item" href="event.html">Event</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					headers <i class="lnr lnr-chevron-down u-fs-12 ml-1"></i>
				</a>
				<div class="dropdown-menu box-shadow-v2" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="header-gradient.html">Gradient</a>
					<a class="dropdown-item" href="header-solid.html">Solid Color</a>
					<a class="dropdown-item" href="header-parallax.html">parallax</a>
					<a class="dropdown-item" href="header-typing.html">typing</a>
					<a class="dropdown-item" href="header-background.html">background image</a>
					<a class="dropdown-item" href="header-video.html">background video</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					pages <i class="lnr lnr-chevron-down u-fs-12 ml-1"></i>
				</a>
				<div class="dropdown-menu box-shadow-v2 dropdown__col-2" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="about.html">About</a>
					<a class="dropdown-item" href="how-work.html">How It Work</a>
					<a class="dropdown-item" href="portfolio.html">Portfolio</a>
					<a class="dropdown-item" href="portfolio-details.html">Portfolio Details</a>
					<a class="dropdown-item" href="blog.html">Blog</a>
					<a class="dropdown-item" href="blog-details.html">Blog Details</a>
					<a class="dropdown-item" href="pricing.html">Pricing Table</a>
					<a class="dropdown-item" href="FAQ.html">FAQs</a>
					<a class="dropdown-item" href="login.html">Login</a>
					<a class="dropdown-item" href="sign-up.html">Register</a>
					<a class="dropdown-item" href="coming-soon.html">Coming soon</a>
					<a class="dropdown-item" href="contact.html">Contact</a>
					<a class="dropdown-item" href="terms-and-privacy-policy.html">Terms & Privacy Policy</a>
					<a class="dropdown-item" href="404.html">404</a>
				</div>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					elements <i class="lnr lnr-chevron-down u-fs-12 ml-1"></i>
				</a>
				<div class="dropdown-menu box-shadow-v2 dropdown__col-2" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="info-box.html">info box</a>
					<a class="dropdown-item" href="testimonials.html">testimonial</a>
					<a class="dropdown-item" href="pricing.html">pricing</a>
					<a class="dropdown-item" href="gallery.html">gallery</a>
					<a class="dropdown-item" href="team.html">team</a>
					<a class="dropdown-item" href="clients.html">client</a>
					<a class="dropdown-item" href="newsletter.html">subscribe</a>
					<a class="dropdown-item" href="sign-up.html">signup</a>
					<a class="dropdown-item" href="form.html">Form</a>
					<a class="dropdown-item" href="footers.html">footer</a>
					<a class="dropdown-item" href="map.html">google map</a>
					<a class="dropdown-item" href="tabs.html">Tab</a>
					<a class="dropdown-item" href="accordion.html">Accordion</a>
					<a class="dropdown-item" href="progress-bars.html">Progressbar</a>
					<a class="dropdown-item" href="call-to-action.html">Call to Action</a>
					<a class="dropdown-item" href="countdown.html">Countdown</a>
					<a class="dropdown-item" href="buttons.html">Button</a>
					<a class="dropdown-item" href="list-style.html">List Style</a>
					<a class="dropdown-item" href="feature.html">feature</a>
					<a class="dropdown-item" href="carousel.html">Carousel</a>
					<a class="dropdown-item" href="video.html">video</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Blog <i class="lnr lnr-chevron-down u-fs-12 ml-1"></i>
				</a>
				<div class="dropdown-menu box-shadow-v2" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="blog.html">blog single</a>
					<a class="dropdown-item" href="blog-grid.html">blog grid</a>
					<a class="dropdown-item" href="blog-details.html">blog details</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link" href="contact.html">
					Contact
				</a>
			</li>
		</ul>
	</div>

</nav>
