<nav class="navbar navbar-expand-lg px-md-0">
	<a class="navbar-brand" href="{{ site.baseurl }}/">
		<span class="logo-default">
			<img src="{{ site.baseurl }}/images/white-logo.svg" alt="The Digital Garage Logo" width="240" height="80" />
		</span>
		<span class="logo-inverse">
			<img src="{{ site.baseurl }}/images/logo.svg" alt="The Digital Garage Logo" width="240" height="80">
		</span>
	</a>
	<button class="navbar-toggler p-0" data-toggle="collapse" data-target="#navbarNav">
					<div class="hamburger hamburger--spin js-hamburger">
								<div class="hamburger-box">
									<div class="hamburger-inner"></div>
								</div>
						</div>
	</button>

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ml-auto">
			{% for link in site.data.navigation %}
				{% assign class = "" %}
				{% if link.highlight %}
					{% assign class = class | append: " highlight" %}
				{% endif %}

				{% if link.link == page.url %}
					{% assign class = class | append: " active" %}
				{% endif %}
				<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
			{% endfor %}
		</ul>
	</div>

</nav>
